.container{
    background-image: url("../../images/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.logo img{
    width: 100px;
    /* height: 100px; */
    /* border-radius: 50%; */
    /* border: 2px solid white; */
    margin-bottom: 20px;
}
.whiteText{
    color: white;
}